.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  width: 300px;
  background-color: rgb(23, 22, 22);
}

.close_btn {
    cursor: pointer;
  width: 20px;
  height: 20px;
  color: red;
}

