@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap")
root {
  --primary-color: rgb(255, 255, 255);
  --secondary-gradient: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(241, 192, 238, 0.27324926552652307) 58%,
    rgba(249, 254, 255, 1) 100%
  );
}

* {
  padding: 0;
  margin: 0;
  font-family: "Kode Mono", monospace;
  color: #dadada;
  font-weight: 500;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background: #323437;
  font-family: sans-serif;
}

.layout {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "sidebar body body "
    "footer footer footer";
}

.header {
  grid-area: header;
}
.body {
  grid-area: body;
}
.sidebar {
  grid-area: sidebar;
}
.footer {
  grid-area: footer;
}
